"use client";
import { useLayoutEffect } from "react";
const {{pascalCase name}} = () => {
useLayoutEffect(() => {}, []);
return (
<div>
  {{pascalCase name}}
</div>
); };
export { {{pascalCase name}} };